
* {
  border: 3px dashed green;
}
table {
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
}

th {
  background-color: #CC5A3E;
  padding: 5px;
  border-radius: 10px;
}

td {
  margin:20px;
  background-color: #D69E42;
  padding: 10px;
  border-radius: 10px;
}

.grayRow td {
  background-color: #BF8044;
}

.table_footer {
  background-color: #CC5A3E;
}
