
body {
  font-family: helvetica;
  background: #fff;
}

header {
  background: #555;
  height: 100px;
}

.restriction_div {
  width: 960px;
  margin: 0 auto;
}

header img {
  float: left;
  margin-top: 15px;
}

header ul li {
  display: inline-block;
  margin-left: 120px;
  margin-top: 40px;
  color: white;
}

main {
  margin: 30px auto;
  width: 960px;
}

.banner {
  margin-bottom: 30px;
}

.banner_container {
  position: relative;
}

h1 {
  position: absolute;
  bottom: 85px;
  font-family: sans-serif;
  font-size: 50px;
  width: 100%;
  padding: 1% 0;
  text-align: center;
  background: white;
}

.sub_banners li{
  float: left;
  margin-right: 30px;
}

.sub_banners li:nth-child(2) {
  outline: solid black 2px;
}

.sub_banners li:last-child {
  margin-right: 0px;
  margin-bottom: 30px;
}

.content_box {
  display: block;
}

.shirtdiv {
  margin: 30px auto;
}
.shirtdiv img{
  float: left;
  margin-right: 30px;
}

body img:nth-child(5) {
  margin: 30px auto;
  outline: 2px solid black;
}
footer {
  background: #555;
  height: 125px;
  justify-content: center;
  text-align: center;
}

footer ul {
  justify-content: center;
}

footer ul li {
  display: inline-block;
  padding: 0px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

.clearfix {
  clear: both;
}
