
body {
  font-family: helvetica;
  background: #fff;
}

header {
  background: #555;
  height: 100px;
}

.restriction_div {
  width: 960px;
  margin: 0 auto;
}

header img {
  float: left;
  margin-top: 15px;
}

header ul li {
  justify-content: center;
  display: inline-block;
  margin-left: 50px;
  margin-top: 40px;
  color: white;
}

main {
  margin: 30px auto;
  width: 960px;
}

.banner {
  margin-bottom: 30px;
}

.sub_banners li{
  float: left;
  margin-right: 30px;
}

.sub_banners li:last-child {
  margin-right: 0px;
  margin-bottom: 30px;
}

.content_box {
  display: block;
}

footer {
  background: #555;
  height: 125px;
  justify-content: center;
}

footer ul li {
  justify-content: center;
  display: inline-block;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

.clearfix {
  clear: both;
}
